<% layout("/layouts/boilerplate") %>
<body>
  <div class="col-8 offset-2">
  <h1>Edit your listing</h1>
  <br>
  <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" class="form-control" required><br><br>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label><br><br>
      <textarea id="description" name="listing[description]" rows="5" cols="30" class="form-control" required><%= listing.description %></textarea><br><br>
    </div>

    <div class="mb-3">
      <label for="image_url" class="form-label">Image URL:</label>
      <input type="url" id="image_url" name="listing[image.url]" value="<%= listing.image.url %>" class="form-control" required><br><br>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" id="price" name="listing[price]" step="0.01" value="<%= listing.price %>" class="form-control" required><br><br>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location:</label>
      <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="form-control" required><br><br>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country:</label>
      <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" class="form-control" required><br><br>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <br><br>
  </form>
</div>
</body>

